.git_pub/
.git_priv/
_bak/
_in/
_task/
_docs
_magic/
generation1/client1_hamachi.cmd
generation2/saves
generation2/shared/_tmp/
generation2/shared/doc/sd.txt
generation2/client/shared
generation2/server/shared
generation2/_in
generation2/_tmp

/task/*
/_archive/*
/game_engine_test/net/perftest/.vscode/*
/game_engine_test/net/perftest/Content/obj/*
/game_engine_test/net/perftest/bin/*
/game_engine_test/net/perftest/obj/*

/game_engine_test/gd/.mono/*
/game_engine_test/gd/.import/*
/game_engine_test/net/perftest/Content/bin/*
